h1{
    font-size: 4rem;
}

.address-container{
    font-size: 1.5rem;
}

.address-container p{
    margin: 1rem 0;
}

.contacts-container{
    margin: 1.5rem 0;
}

.phone{
    font-size: 1.5rem;
    margin: 0;
}

main section{
    margin: 3rem 0;

}

main section h2{
    margin: 0.5rem 0;
}

.email{
    font-size: 1.5rem;
    margin: 0;
}




