@font-face {
    font-family: "Dodo";
    src: url(/fonts/Dodo/DodoRounded_v2-Medium.otf);

    font-family: "Exo";
    src: url(/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}

:root{
    --red: red;
    --light-black: rgba(0, 0, 0, 0.175);
}


body{
    margin: 0;
    padding: 0;
}

