footer{
    background: var(--light-black);
    height: 600px;
    width: 100%;
}


@media (max-width: 768px) {
    footer {
        padding: 15px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    footer {
        padding: 10px;
        font-size: 0.9rem;
    }
}