header{
    background: linear-gradient(rgb(0, 255, 0), rgb(125, 222, 125));
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Dodo';
    align-content: center;
    

}


header h1{
    font-size: 2.8rem;
    line-height: 1.5rem;
    align-content: center;
    text-align: center;
    padding-bottom: 0.6rem ;

    
}

.logo-image{
    width: 120px;
    height: auto;
}