header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Exo';
    align-content: center;
    justify-content: space-between;
    border: 1px var(--light-black) solid;

}


.naming-wrapper{
    display: flex;

}

.naming{
    font-size: 2.5rem;
    align-content: center;
    text-align: center;
    padding-bottom: 0.6rem ;
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 20%, rgb(65, 65, 65) 35%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.logo{
    margin: 0 1rem;
}

.logo-image{
    width: 120px;
    height: auto;
}

.registration-block{
    display: flex;
    flex-direction: column;
}

.registration-block h2{
    margin: 0.3rem 0;
}

.registration-phone{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 2.5rem;
}


@media (max-width: 1024px) {
    header {
        padding: 15px;
    }
    
    .naming {
        font-size: 2rem;
    }
    
    .logo-image {
        width: 100px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    
    .naming-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .naming {
        font-size: 1.8rem;
        padding-bottom: 0.4rem;
    }
    
    .logo {
        margin: 0.5rem 0;
    }
    
    .logo-image {
        width: 90px;
    }
    
    .registration-block {
        align-items: center;
        width: 100%;
    }
    
    .registration-block h2 {
        font-size: 1.2rem;
        margin: 0.2rem 0;
    }
    
    .registration-phone {
        font-size: 1.3rem;
        margin: 0 0 0.5rem 0;
    }
}

@media (max-width: 480px) {
    .naming {
        font-size: 1.5rem;
    }
    
    .logo-image {
        width: 70px;
    }
    
    .registration-block h2 {
        font-size: 1rem;
    }
    
    .registration-phone {
        font-size: 1.1rem;
    }
}