main{
    width: 80%;
    margin: 0 auto;
    border: rgba(111, 111, 111, 0.255) 1px solid;
}

.news-block{
    font-size: 2rem;
    font-family: 'Exo';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-block h1{
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, rgb(255, 0, 0) 15%, rgb(65, 65, 65) 25%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.news-block article{
    margin: 1rem;
    border-radius: 15px;
    border: 1px rgba(0, 0, 0, 0.175) solid;
}

