main{
    width: 80%;
    margin: 0 auto;
    /* border: rgba(111, 111, 111, 0.255) 1px solid; */
}

h1{
    background: linear-gradient(to right, rgb(255, 0, 0) 5%, rgb(255, 0, 0) 15%, rgb(65, 65, 65) 55%, rgb(0, 0, 0) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.news-block{
    font-size: 2rem;
    font-family: 'Exo';
    display: flex;
    flex-direction: column;
    align-items: center;
}


.news-block article{
    margin: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px var(--light-black) solid;
    padding: 0.75rem;
    transition: 0.3s;
    user-select: none;
}

.news-block article:hover{
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.468);

}


.special-news{
    color: var(--red);
}

.service-list{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Exo';
    padding: 4rem 0 2rem 0;
}

.service-list h1{
    font-size: 3rem;
    margin: 1rem 0;
}

.list-wrapper{
    font-size: 1.5rem;
    list-style: none;
    margin: 0;
}

.list-wrapper li{
    margin: 1rem 0;
    border: 1px var(--light-black) solid;
    border-radius: 20px;
    padding: 1rem;
    transition: 0.3s;
}

.list-wrapper li:hover{
    box-shadow: 0 0 5px 1px rgba(255, 0, 0, 0.468);
}
