.nav-menu{
    display: flex;
    box-shadow: 0px 5px 10px var(--light-black);
    align-items: center;
    flex-direction: column;
}

.refs-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;

}

.refs-list li{
    padding: 1rem 2rem;
    font-family: 'Exo';
    transition: 0.3s;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;

    
    
}

.refs-list li:hover{
    box-shadow: 0px 5px 10px var(--red);
    cursor: pointer;
}


.refs-list li a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.nav-selected{
    box-shadow: 0px 5px 10px var(--red);
}